/*head css*/
#subjectdiv{
	float: left;
	width: 1910px;
	height: 86px;
	margin: auto;
	background:url(../img/backgroundtop.png) no-repeat;
	z-index: 1;
}
.subjecttop{
	float: left;
	width: 150px;
	height: 82px;
}
.subtoptwo{
	float: left;
	height: 86px;
}
.widthdiv{
	float: left;
	width: 65px;
	height: 20px;
}
.titlebar table{
	font-family: "方正舒体";
	float: left;
	height: 86px;
}
.titlebar table tr td{
	width: 138px;
	text-align: center;
}
.titlebar table tr td a{
	text-decoration: none;
	color:#757575;
	font-size: 22px;
}
.titlehome{
	color: #353232;
}
.titlebar table tr td a:hover{
	font-size: 32px;
	font-weight: bold;
	color: #0388d4;
	transition: 0.4s;
}
/*body css*/
/*clear: both; 清楚float*/
#bodydiv{	
	height: 955px;
	background:url(../img/background.jpg) no-repeat;
	z-index: -1;
}
#taildiv{
	background:url(../img/backgroundtop.png) no-repeat;
	height: 82px;
	margin-top: -82px;
}
.textdiv{
	overflow: hidden;
	width: 1200px;
	margin: auto;
	padding-top: 230px;
}
.bodytext{
	font-family: "方正舒体";
	clear: both;
	font-weight:bolder;
	margin: auto;
	color: white;
	font-size: 78px;
}
.textdivtwo{
	line-height: 45px;
	font-family: "微软雅黑";
	padding-left: 860px;
	clear: both;
	color: white;
	font-size: 19px;
}
.buttondiv{
	width:160px;
	margin: auto;
	margin-top: 65px;
}
.tailtable{
	width:600px;
	margin: auto;
	align-content: center;
}
.tailimage{
	width: 1250px;
	margin: auto;
}
.tailimage tr td{
	color: #5e6163;
	font-size: 16px;
}
img, object {max-width: 100%;} 












